<!-- <app-navebar></app-navebar> -->


<section class="top-cards">
    <div class="heading">Top <span>Categories</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/c1.png" alt="">
            
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/c2.png" alt="">
            
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="assets/images/c3.png" alt="">
            
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- <app-footer></app-footer> -->